/*---------- Header ---------*/

@media screen and (max-width: 800px) {
  .menu {
    display: none;
  }
  .burger {
    display: block;
    background-color: transparent;
    border: 0;
  }
  .burger.active .linje:nth-child(1) {
    transform: rotate(45deg) translate(10px, 5px);
    transition: 0.2s linear;
  }

  .burger.active .linje:nth-child(2) {
    opacity: 0;
    transition: 0.15s linear;
  }

  .burger.active .linje:nth-child(3) {
    transform: rotate(-45deg) translate(11px, -5px);
    transition: 0.2s linear;
  }

  nav.active .menu-burger {
    display: block;
    background-color: var(--accent-1);
    position: absolute;
    top: 94px;
    left: 0;
    width: 100%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  nav.active .menu-burger li {
    margin: 20px 40px;
  }

  nav.active .menu-burger a {
    font-size: 2.6rem;
  }
}
